<!-- ACCENT:#F2F2F2 -->
<section class="_editor_bg" data-tpl-id="24960" style="overflow:hidden; background-color:#f2f2f2;">
    <section class="_editor">
        <section class="_editor">
            <section
                style="background-image: url(&#39;https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd4RaHzHjNDnZQ42hHH3eTynLQVTCYhBUTgGq1EucCwE6kyzAx86B0hQQp19bEPa1yeBmOvT0A9icFpK81H7V07v4UsGzS0AnVow/0?from=appmsg&#39;); background-repeat: no-repeat; background-size: 100% 100%; background-position: center; padding:30% 7% 50%;">
                <section
                    style="padding: 25px 15px 20px 15px; background-color: #ffffff26; border: 2.5px solid #ffffff99; border-radius: 12px; z-index: 10; backdrop-filter: blur(5px);">
                    <p style="font-size:14px; color:#ffffff; letter-spacing:2px; text-align:center;"><strong>「 防台防汛 守护安全
                            」</strong></p>
                    <p style="font-size:32px; color:#ffffff; letter-spacing:4px; text-align:center; line-height:1.2em;">
                        <strong>防范台风<br />安全第一</strong></p>
                    <section style="text-align:center;">
                        <section
                            style="margin-top:15px; background-color:#c72929; padding:8px 15px; border-radius:4px; display:inline-block;">
                            <p style="font-size:14px; color:#ffffff; letter-spacing:2px; text-align:center;">
                                <strong>筑牢防线 科学避险</strong></p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:30px 15px 15px;">
                <section
                    style="display:flex; align-items:center; background-color:#ffffff; border:1px solid #c72929; border-radius:8px; padding:15px;">
                    <section style="width:42px;" class="">
                        <p><img data-brush="img"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/sz_mmbiz_gif/oWag3KdTBd5Cwa4ibukvpq6kcUB5ciaZY6AOo2B8kuib7ibvOvbqrIicIy4oWZKE2biak5hyIZEjW9fD1LXN1p0MuiaibcsuBIZHqIZEeE49Z2QSZ6k/0?from=appmsg"
                                style="width: 100%;" data-width="100%" /></p>
                    </section>
                    <section style="width:1px; height:32px; background-color:#fbc4bb; margin:0 15px;"></section>
                    <section style="flex-grow:1;">
                        <section style="font-size:15px; color:#c72929; margin-bottom:4px;"><strong>台风黄色预警发布！</strong>
                        </section>
                        <section style="font-size:13px; color:#666666; line-height:1.4em;"> 需防范狂风暴雨及山洪、积水等次生灾害。
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section
                    style="font-size:14px; color:#555555; line-height:2.25em; letter-spacing:0px; text-align:left;">
                    <p> &nbsp; &nbsp;
                        随着极端天气的增多，强台风及局地暴雨频频造访，给我们的生命财产安全带来了严峻挑战。当风雨即将来袭，唯有提高防范意识，科学掌握避险自救方法，方能筑牢安全防护网，守护彼此的平安。</p>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 0;">
                <section style="display:flex; flex-direction:column; align-items:center;">
                    <section style="width:50px; margin-bottom:10px;" class="">
                        <p><img data-brush="img"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_gif/oWag3KdTBd5eMxQft0smYHy86I4c8tR26qkcvAdqt15FECDckW4WXSBpMfSVLkae5gtKB8Szso6n0RQiagsMwCg6VXbHoGRa3GH9XEwa9NKk/0?from=appmsg"
                                style="width: 100%;" data-width="100%" /></p>
                    </section>
                    <section style="display:flex; align-items:center;">
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-right:10px;">
                        </section>
                        <section style="background-color:#1d467f; transform:skewX(-15deg); padding:8px 25px;">
                            <section style="font-size:16px; color:#ffffff; transform:skewX(15deg); letter-spacing:1px;">
                                <strong>认识台风</strong></section>
                        </section>
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-left:10px;">
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section
                    style="background-color:#ffffff; border:1px solid #cbd7e3; border-radius:12px; padding:20px 15px;">
                    <section class="_editor">
                        <section style="margin-bottom:15px;">
                            <section style="width:100%;" data-width="100%">
                                <p><img data-brush="img" data-copyrighted="0000"
                                        src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd74Bndfic1ialXbhkgF8MxvA9d8ljmWjamJA39Vhnsiag2EsLJTvtmjKZJoJABPyr9YJmDEIia2o6X9ibcgTaaYl18tGq8Fg9wibtPBY/0?from=appmsg"
                                        style="width:100%; border-radius:8px; display:block;" data-width="100%" /></p>
                            </section>
                        </section>
                    </section>
                    <section class="_editor">
                        <section
                            style="font-size:14px; color:#555555; line-height:2.25em; letter-spacing:0px; text-align:left; margin-bottom:15px;">
                            <p> 台风是一种破坏力极强的灾害性天气系统，多发生于夏秋季节。台风过境时伴随狂风暴雨，严重时会造成洪涝灾害、山体滑坡等次生灾害，直接威胁人们的生命和财产安全。</p>
                        </section>
                    </section>
                    <section class="_editor">
                        <section style="display:flex; justify-content:space-between; margin-bottom:15px;">
                            <section style="width:48%;" data-width="48%">
                                <p><img data-brush="img" data-copyrighted="0000"
                                        src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd74Bndfic1ialXbhkgF8MxvA9d8ljmWjamJA39Vhnsiag2EsLJTvtmjKZJoJABPyr9YJmDEIia2o6X9ibcgTaaYl18tGq8Fg9wibtPBY/0?from=appmsg"
                                        style="width:100%; border-radius:6px; display:block;" data-width="100%" /></p>
                            </section>
                            <section style="width:48%;" data-width="48%">
                                <p><img data-brush="img" data-copyrighted="0000"
                                        src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd74Bndfic1ialXbhkgF8MxvA9d8ljmWjamJA39Vhnsiag2EsLJTvtmjKZJoJABPyr9YJmDEIia2o6X9ibcgTaaYl18tGq8Fg9wibtPBY/0?from=appmsg"
                                        style="width:100%; border-radius:6px; display:block;" data-width="100%" /></p>
                            </section>
                        </section>
                    </section>
                    <section class="_editor">
                        <section
                            style="font-size:14px; color:#555555; line-height:2.25em; letter-spacing:0px; text-align:left;">
                            <p> 台风生成于热带洋面，在向陆地移动的过程中，会给沿海乃至内陆地区带来大范围的降雨和降温。因此，及时获取最新的台风动向，做好周密的预防工作，是保障安全的重中之重。</p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 0;">
                <section style="display:flex; flex-direction:column; align-items:center;">
                    <section style="width:50px; margin-bottom:10px;" class="">
                        <p><img data-brush="img"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_gif/oWag3KdTBd5eMxQft0smYHy86I4c8tR26qkcvAdqt15FECDckW4WXSBpMfSVLkae5gtKB8Szso6n0RQiagsMwCg6VXbHoGRa3GH9XEwa9NKk/0?from=appmsg"
                                style="width: 100%;" data-width="100%" /></p>
                    </section>
                    <section style="display:flex; align-items:center;">
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-right:10px;">
                        </section>
                        <section style="background-color:#1d467f; transform:skewX(-15deg); padding:8px 25px;">
                            <section style="font-size:16px; color:#ffffff; transform:skewX(15deg); letter-spacing:1px;">
                                <strong>避险自救</strong></section>
                        </section>
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-left:10px;">
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section style="margin-bottom:15px;">
                    <section style="width:100%;" data-width="100%">
                        <p><img data-brush="img" data-copyrighted="0000"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd74Bndfic1ialXbhkgF8MxvA9d8ljmWjamJA39Vhnsiag2EsLJTvtmjKZJoJABPyr9YJmDEIia2o6X9ibcgTaaYl18tGq8Fg9wibtPBY/0?from=appmsg"
                                style="width:100%; border-radius:8px 8px 0px 0px; display:block;" data-width="100%" />
                        </p>
                        <section
                            style="background-color:#c72929; padding:6px 15px; border-radius:0px 0px 8px 8px; text-align:center;">
                            <p style="font-size:13px; color:#ffffff; letter-spacing:1px;"><strong>▲ 台风最新路径预测与防范</strong>
                            </p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section
                    style="font-size:14px; color:#555555; line-height:2.25em; letter-spacing:0px; text-align:left;">
                    <p> 中央气象台持续发布台风预警信号。预计强台风将于近期登陆沿海地区，并持续向内陆推移，带来大范围的强降雨和狂风天气。在户外时请务必注意安全，做好以下防范：</p>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section style="display:flex; margin-bottom:15px;">
                    <section style="display:flex; flex-direction:column; align-items:center; width:30px;">
                        <section
                            style="width:28px; height:28px; line-height:28px; background-color:#1d467f; border-radius:100%; color:#fff; text-align:center; font-size:14px;">
                            <strong>1</strong></section>
                        <section style="width:2px; flex-grow:1; background-color:#1d467f; margin:5px 0;"></section>
                    </section>
                    <section
                        style="padding-left:15px; font-size:14px; color:#555555; line-height:1.8em; padding-bottom:15px;">
                        <p><strong>减少外出活动</strong>。必须外出时尽量乘坐公共交通工具，避开严重积水路段和交通不畅地区，防止发生涉水危险。</p>
                    </section>
                </section>
                <section>
                    <section class="_li" style="display:flex; margin-bottom:15px;">
                        <section style="display:flex; flex-direction:column; align-items:center; width:30px;">
                            <section
                                style="width:28px; height:28px; line-height:28px; background-color:#1d467f; border-radius:100%; color:#fff; text-align:center; font-size:14px;">
                                <strong>2</strong></section>
                            <section style="width:2px; flex-grow:1; background-color:#1d467f; margin:5px 0;"></section>
                        </section>
                        <section
                            style="padding-left:15px; font-size:14px; color:#555555; line-height:1.8em; padding-bottom:15px;">
                            <p><strong>避开危险建筑</strong>。切勿在广告牌、大树、电线杆、临时建筑物或老旧围墙下逗留，防范强风刮倒或高空坠物砸伤。</p>
                        </section>
                    </section>
                </section>
                <section style="display:flex;">
                    <section style="display:flex; flex-direction:column; align-items:center; width:30px;">
                        <section
                            style="width:28px; height:28px; line-height:28px; background-color:#1d467f; border-radius:100%; color:#fff; text-align:center; font-size:14px;">
                            <strong>3</strong></section>
                    </section>
                    <section style="padding-left:15px; font-size:14px; color:#555555; line-height:1.8em;">
                        <p><strong>注意用电安全</strong>。避开断落的电线、变压器和路灯箱等带电设备。如果发现地上有断落电线，切勿靠近并及时报告相关部门。</p>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 0;">
                <section style="display:flex; flex-direction:column; align-items:center;">
                    <section style="width:50px; margin-bottom:10px;" class="">
                        <p><img data-brush="img"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_gif/oWag3KdTBd5eMxQft0smYHy86I4c8tR26qkcvAdqt15FECDckW4WXSBpMfSVLkae5gtKB8Szso6n0RQiagsMwCg6VXbHoGRa3GH9XEwa9NKk/0?from=appmsg"
                                style="width: 100%;" data-width="100%" /></p>
                    </section>
                    <section style="display:flex; align-items:center;">
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-right:10px;">
                        </section>
                        <section style="background-color:#1d467f; transform:skewX(-15deg); padding:8px 25px;">
                            <section style="font-size:16px; color:#ffffff; transform:skewX(15deg); letter-spacing:1px;">
                                <strong>居家防范</strong></section>
                        </section>
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-left:10px;">
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section style="width:100%;" data-width="100%">
                    <p><img data-brush="img" data-copyrighted="0000"
                            src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd74Bndfic1ialXbhkgF8MxvA9d8ljmWjamJA39Vhnsiag2EsLJTvtmjKZJoJABPyr9YJmDEIia2o6X9ibcgTaaYl18tGq8Fg9wibtPBY/0?from=appmsg"
                            style="width:100%; border-radius:8px; display:block;" data-width="100%" /></p>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section
                    style="background-color:#ffffff; border-radius:8px; margin-bottom:15px; overflow:hidden; border:1px solid #cbd7e3;">
                    <section
                        style="background-color:#1d467f; padding:10px 15px; display:flex; justify-content:space-between; align-items:center;">
                        <section style="font-size:15px; color:#fff;"><strong>密切关注预警信息</strong></section>
                        <section style="width:18px;">
                            <p><img data-brush="img"
                                    src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/sz_mmbiz_png/oWag3KdTBd75AGyQrSGuYgIYdcK6KtZTRISut65ZlNUbkSIebicbY4tFQknJibJGMQlZzZRVsEIkwca7zTfSicmYHkQ5wM65DuSy8DPcic59jhE/0?from=appmsg"
                                    style="width:100%; display:block;" data-width="100%" /></p>
                        </section>
                    </section>
                    <section style="padding:15px; font-size:14px; color:#555555; line-height:1.8em;">
                        <p> 密切关注电视、广播、手机和社区通知，了解台风预警级别的变化及降雨风速预测，以便及时调整避险措施。</p>
                    </section>
                </section>
                <section
                    style="background-color:#ffffff; border-radius:8px; margin-bottom:15px; overflow:hidden; border:1px solid #cbd7e3;">
                    <section
                        style="background-color:#1d467f; padding:10px 15px; display:flex; justify-content:space-between; align-items:center;">
                        <section style="font-size:15px; color:#fff;"><strong>加固窗户与清理阳台</strong></section>
                        <section style="width:18px;">
                            <p><img data-brush="img"
                                    src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/sz_mmbiz_png/oWag3KdTBd75AGyQrSGuYgIYdcK6KtZTRISut65ZlNUbkSIebicbY4tFQknJibJGMQlZzZRVsEIkwca7zTfSicmYHkQ5wM65DuSy8DPcic59jhE/0?from=appmsg"
                                    style="width:100%; display:block;" data-width="100%" /></p>
                        </section>
                    </section>
                    <section style="padding:15px; font-size:14px; color:#555555; line-height:1.8em;">
                        <p> 关闭并锁紧所有门窗，必要时用胶带在玻璃窗上贴成“米”字防爆裂。清理阳台、窗台上的花盆及杂物，以防被强风刮落砸伤路人。</p>
                    </section>
                </section>
                <section
                    style="background-color:#ffffff; border-radius:8px; overflow:hidden; border:1px solid #cbd7e3;margin-bottom:15px;"
                    class="_li">
                    <section
                        style="background-color:#1d467f; padding:10px 15px; display:flex; justify-content:space-between; align-items:center;">
                        <section style="font-size:15px; color:#fff;"><strong>储备应急生活物资</strong></section>
                        <section style="width:18px;">
                            <p><img data-brush="img"
                                    src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/sz_mmbiz_png/oWag3KdTBd75AGyQrSGuYgIYdcK6KtZTRISut65ZlNUbkSIebicbY4tFQknJibJGMQlZzZRVsEIkwca7zTfSicmYHkQ5wM65DuSy8DPcic59jhE/0?from=appmsg"
                                    style="width:100%; display:block;" data-width="100%" /></p>
                        </section>
                    </section>
                    <section style="padding:15px; font-size:14px; color:#555555; line-height:1.8em;">
                        <p> 储备适量饮用水、即食食品、手电筒、急救药盒及备用充电宝。同时注意安全切断受积水浸泡电器的总电源，严防室内触电。</p>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="margin:15px 15px;">
                <section style="display:flex; justify-content:space-between;">
                    <section style="width:48%;" data-width="48%">
                        <p><img data-brush="img" data-copyrighted="0000"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd74Bndfic1ialXbhkgF8MxvA9d8ljmWjamJA39Vhnsiag2EsLJTvtmjKZJoJABPyr9YJmDEIia2o6X9ibcgTaaYl18tGq8Fg9wibtPBY/0?from=appmsg"
                                style="width:100%; border-radius:8px; display:block;" data-width="100%" /></p>
                    </section>
                    <section style="width:48%;" data-width="48%">
                        <p><img data-brush="img" data-copyrighted="0000"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_jpg/oWag3KdTBd74Bndfic1ialXbhkgF8MxvA9d8ljmWjamJA39Vhnsiag2EsLJTvtmjKZJoJABPyr9YJmDEIia2o6X9ibcgTaaYl18tGq8Fg9wibtPBY/0?from=appmsg"
                                style="width:100%; border-radius:8px; display:block;" data-width="100%" /></p>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <p><br /></p>
        </section>
        <section class="_editor">
            <section style="margin:15px 0;">
                <section style="display:flex; flex-direction:column; align-items:center;">
                    <section style="width:50px; margin-bottom:10px;" class="">
                        <p><img data-brush="img"
                                src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_gif/oWag3KdTBd5eMxQft0smYHy86I4c8tR26qkcvAdqt15FECDckW4WXSBpMfSVLkae5gtKB8Szso6n0RQiagsMwCg6VXbHoGRa3GH9XEwa9NKk/0?from=appmsg"
                                style="width: 100%;" data-width="100%" /></p>
                    </section>
                    <section style="display:flex; align-items:center;">
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-right:10px;">
                        </section>
                        <section style="background-color:#1d467f; transform:skewX(-15deg); padding:8px 35px;">
                            <section style="font-size:16px; color:#ffffff; transform:skewX(15deg); letter-spacing:1px;">
                                <strong>END</strong></section>
                        </section>
                        <section
                            style="width:6px; height:20px; background-color:#e3b13c; transform:skewX(-15deg); margin-left:10px;">
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section style="text-align:center;">
                <section style="display:inline-block;">
                    <section style="background-color:#fefefe; padding:5px;">
                        <section style="width:110px; margin:auto;">
                            <p><img data-qr="1"
                                    src="https://newcdn.96weixin.com/mmbiz.qlogo.cn/mmbiz_png/MPS72cibJRUDVbKO0xEfE8mfYBLf9EicSibFFNJyfNNcMlTanjmgMeQ3F4KJ6ahicOB73lErJ0nBQwJ7eyaVpOiaayA/640?wx_fmt=png&from=appmsg&wx_"
                                    style="width:100%; display:block;" data-width="100%" /></p>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="_editor">
            <section
                style="color:#7b8089; font-size:12px; line-height:2; text-align:center; letter-spacing:2px; margin-top:20px;">
                <p> 图片|96编辑器版权所有（可商用）</p>
                <p> 头部插画|96编辑器原创（可商用）</p>
                <p> 图形、形状|96编辑器原创（可商用）</p>
                <p> 文源|96编辑器AI写作</p>
            </section>
        </section>
    </section>
</section>
<section class="_editor">
    <p><br /></p>
</section>